@mixin text-property($fs, $fc, $fw) {
  font-size: $fs;
  color: $fc;
  font-weight: $fw;
}
@mixin image-property($width, $height) {
  width: $width;
  height: $height;
}
@mixin btn-property($width, $height, $border, $bgcolor) {
  width: $width;
  height: $height;
  border: $border;
  background: $bgcolor;
  border-radius: 50px;
  opacity: 1;
}
