//font sizes
$font-16: 16px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-50: 50px;
$font-65: 65px;
$font-100: 100px;

//font weights
$font-400: 400;
$font-500: 500;
$font-700: 700;

//color
$color-1: #ffffff;
$color-2: #1762af;
$color-3: #f8b333;
$color-4: #342727;
$color-5: #272c34;
$color-6: #7e6b67;
$color-7: #fb5b29;
$color-8: #f95927;
$color-9: #86342229;
$color-10: #ff6233;
$color-11: #fffbfa;
$color-12: #d5c8c6;

//font  families
$font-family-1: "Poppins", sans-serif;
$font-family-2: "Domine", serif;
